body {
  font-family: "adobe-kannada", sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  display: block;
  z-index: -1;
}
.header-text {
  z-index: 1;
  color: #DAA520;
  position: absolute;
  font-size: 90px;
  line-height: 90px;
  font-family: adobe-kannada, sans-serif;
  padding: 8% 14%;
}
.header-img {
  width: 100%;
  z-index: -9999;
}
.header-button {
  position: absolute;
  color: #DAA520;
  border: none;
  background-color: transparent;
  right: 650px;
  z-index: 700;
  font-size: 3em;
}
.header-button-login {
  background-color: #DAA520;
  padding: 5px 60px;
  border: none;
  color: #191919;
  position: absolute;
  font-size: 15px;
  margin: 34% 15%;
}

.icon {
  color: #DAA520;
  position: absolute;
  margin: 5% 10%;
  font-size: 40px;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1000;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  padding-top: 60px;
  /* Modal Content/Box */
}
.modal--content {
  background-color: #101010;
  margin: 5px auto;
  /* 15% from the top and centered */
  border: 1px solid #DAA520;
  width: 30%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  padding-left: 93%;
  top: 0;
  color: #DAA520;
  font-size: 35px;
  font-weight: bold;
}
.close:hover, .close:focus {
  color: white;
  cursor: pointer;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: white;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.login {
  width: 75%;
  margin: auto;
  padding-top: 3em;
  padding-bottom: 3em;
}
.login--header__text {
  color: #DAA520;
  text-align: center;
  text-decoration: underline;
}
.login--label {
  text-align: center;
}
.login--label__input {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  background-color: transparent;
  border: 1px solid #DAA520;
  color: white;
  padding-left: 15px;
}
.login--label__input:focus {
  outline: none;
  border: 1px solid white;
}
.login--btn {
  width: 70%;
  margin: auto;
  margin-top: 20px;
}
.login--btn__text {
  color: black;
  background-color: #DAA520;
  text-align: center;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
}
.login--pswrd {
  text-align: center;
  padding-bottom: 20px;
}
.login--pswrd__text {
  text-align: center;
}
.login--pswrd__text a {
  color: #DAA520;
  text-decoration: none;
}
.login--pswrd__text a:hover {
  text-decoration: underline;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #DAA520;
  opacity: 1;
  /* Firefox */
  padding-left: 5px;
}

#wrongUsr {
  display: none;
  color: red;
}

.navigation {
  background-color: #191919;
  position: fixed;
  display: none;
  /* Hidden by default */
  z-index: 1000;
  /* Stay on top */
  top: 0;
  left: 0;
  width: 25%;
  margin: 0;
  height: 100vh;
  padding: 5% 0 0 5%;
  padding-top: 5%;
}
.navigation-font {
  color: #DAA520;
  font-size: 3em;
}
.navigation-ul {
  color: #DAA520;
  font-size: 2em;
  margin-top: 20%;
}
.navigation-li {
  list-style: none;
  font-size: 2em;
  padding: 5%;
}
.navigation-li-btn {
  background-color: transparent;
  color: #DAA520;
  border: none;
  margin-top: 1em;
  font-size: 0.5em;
}
.navigation-text {
  color: #DAA520;
  font-size: 2em;
  padding-top: 10%;
}
.navigation-link {
  color: #DAA520;
  font-size: 1.2em;
  margin-left: 3%;
}

#mainContent {
  transition: margin-left 0.9s;
  /* If you want a transition effect */
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  color: orange;
  font-family: adobe-kannada, sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  padding-right: 1rem;
  padding-left: 1rem;
}

nav {
  min-height: 3rem;
  grid-column-start: 1;
  grid-column-end: 13;
}

.menu {
  cursor: pointer;
}

.menu-overlay {
  width: 30%;
  background-color: black;
  text-align: center;
  display: none;
}
.menu-overlay ul {
  list-style-type: none;
}
.menu-overlay a {
  color: orange;
  font-size: 4rem;
  text-decoration: none;
  font-weight: bold;
}
.menu-overlay__login {
  margin-top: 0.5rem;
}
.menu-overlay__login a {
  color: orange;
  text-decoration: none;
  font-size: 2rem;
}

header {
  grid-column-start: 1;
  grid-column-end: 13;
  min-height: 30rem;
  text-align: center;
}
header h1 {
  font-size: 12rem;
  margin-bottom: 2rem;
}
header p {
  font-size: 20px;
  margin-bottom: 2rem;
}
header input {
  padding: 15px;
  background-color: black;
  color: orange;
  border: 1px solid orange;
}
header input::placeholder {
  color: orange;
  opacity: 1;
}

main {
  grid-column-start: 5;
  grid-column-end: 13;
}
@media only screen and (max-width: 640px) {
  main {
    grid-column-start: 1;
    grid-column-end: 13;
  }
}

aside {
  grid-column-start: 1;
  grid-column-end: 5;
}
@media only screen and (max-width: 640px) {
  aside {
    grid-column-start: 1;
    grid-column-end: 13;
  }
}

.aside__title {
  font-weight: bold;
}

.album-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.album {
  flex-basis: 33%;
  margin: 10px;
}
@media only screen and (max-width: 640px) {
  .album {
    flex-basis: 100%;
  }
}
.album__image img {
  min-width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.album__title {
  font-weight: bold;
  font-size: 1.5rem;
}

/*# sourceMappingURL=styles.css.map */
