.wrapper {
    display: grid;
    grid-template-columns: repeat(3,100%);
    overflow:hidden;
    scroll-behavior: smooth;
    margin-left: 80px;
    margin-right:80px;
  
    section {
      width: 100%;
      position: relative;
      display: grid;
      grid-template-columns: repeat(5, auto);
      margin: 20px 0;
      
      .item {
        padding: 0 2px;
        transition: $duration all;
        
        &:hover { 
          transition: $duration all;
          transform: scale(1.05);
          cursor: pointer;
        }
        
      }
      
      a {
        position: absolute;
        color: #fff;
        text-decoration: none;
        font-size: 6em;
        background:rgb(0,0,0);
        width: 80px;
        padding-top: 150px;
        text-align: center;
        z-index: 1;
        
        
        
        &:nth-of-type(1) {
          top:0; bottom:0; left:0;
          background: linear-gradient(-90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 100%);
         
        }
        &:nth-of-type(2) {
          top:0; bottom:0; right: 0;
          background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
         
        }
            
      }
      
    }
  }
  
  .eventCard{
    
    box-sizing: border-box;
    margin: 10px;
    padding: 25px;
    width: 250px;
    border: 2px solid $color-yellow;
    box-shadow: 2px 2px 20px #000000;
    &__title{
        margin-top: 12px;
        margin-bottom: 6px;
    }
    &__img{
        height: 200px;
        width: 200px;
        margin-bottom: 12px;
    }
    &__description{
        margin-bottom: 20px;
        font-weight: 200;
    }
    &__button{
        border: 2px solid $color-yellow;
        margin-top: 20px;
        &--textcolor{
            color: $color-yellow;
            text-align: center;
            margin: 6px;
        }
    }
  
    
    
  }
  
  // Remove the arrow for Mobile
  @media only screen and (max-width: 600px) {
    a.arrow__btn {
      display:none;
    }
  }