.sidebar {
    background: #333;
    color: white;
    max-width: 200px;
    transition: transform 0.5s;
  
    &.isClosed {
      transform: translateX(-100%);
    }
  
    &__button {
      width: 300px;
      border: 1px solid #ddf;
      padding: 1rem;
      border-radius: 0.25rem;
    }
  }