

body{
    background-color: $background-colour;
 }

 h1{
font-family: condor, sans-serif;
font-weight: 500;
font-style: normal;
font-size: 60px;
color: $font-colour;
letter-spacing: 2px;
 }

 h2{
font-family: condor, sans-serif;
font-weight: 500;
font-style: normal;
color: $font-colour;
letter-spacing: 2px;
 }

 p{
    font-family: 'Mukta', sans-serif;
     color: white;
     margin: 2px;
     line-height: 1.2;
     font-weight: 200;
 }