* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    color: $orange;
    font-family: adobe-kannada, sans-serif;
}


.container {
    max-width: 1140px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    padding-right: 1rem;
    padding-left: 1rem;
}

nav {
    min-height: 3rem;
    grid-column-start: 1;
    grid-column-end: 13;
    padding: 1rem 0rem;
}

.menu {
    cursor: pointer;
}


.menu-overlay {
    width: 30%;
    background-color: black;
    text-align: center;
    display: none;
    ul {
        list-style-type: none;
    }

    a {
        color: $orange;
        font-size: 4rem;
        text-decoration: none;
        font-weight: bold;
    }

    &__login {
        margin-top: 0.5rem;
        a {
            color: $orange;
            text-decoration: none;
            font-size: 2rem;
        }
    }

    
}

header {
    grid-column-start: 1;
    grid-column-end: 13;
    min-height: 30rem;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.67);
    background-blend-mode: overlay;
    margin-bottom: 4rem;
    padding: 4rem;
        h1 {
            font-size: 12rem;
            margin-bottom: 2rem;
            text-transform: capitalize;
        }
        p {
            font-size: 20px;
            margin-bottom: 2rem;
        }
        input {
            padding: 15px;
            background-color: black;
            color: $orange;
            border: 1px solid $orange;
            text-transform: capitalize;
            &::placeholder {
                color: $orange;
                opacity: 1;
            }
        }
        button {
            background-color: $orange;
            padding: 15px;
            border: 1px solid $orange;
        }
}

main {
    grid-column-start: 5;
    grid-column-end: 13;
    @media only screen and (max-width: 640px) {
        grid-column-start: 1;
        grid-column-end: 13;
	}
}
aside {
    grid-column-start: 1;
    grid-column-end: 5;
    @media only screen and (max-width: 640px) {
        grid-column-start: 1;
        grid-column-end: 13;
	}
}


.toplist {
    display: none;

&__title {
    font-weight: bold;
    display: block;
}
    &__content {
        margin-top: 0.7rem;
        ol {
            li {
                padding: 0.5rem 0rem;
                margin-left: 1rem;
            }
        }
    }
}


.album-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.album {
    flex-basis: 30%;
    margin: 10px;

    transition: 0.3s ease;
    cursor: pointer;
    @media only screen and (max-width: 640px) {
        flex-basis: 100%;
    }
    
    &:hover {
        transform: scale(1.1);
        @media only screen and (max-width: 640px) {
            transform: none;
        }
    }
    &__image {
        img {
            min-width: 100%;
            max-width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
    &__title {
        font-weight: bold;
        font-size: 1.5rem;
        word-break: break-all;
    }
}
