
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  
  /* Modal Content/Box */
    &--content {
      background-color: #101010;
      margin: 5px auto; /* 15% from the top and centered */
      border: 1px solid #DAA520;
      width: 30%; /* Could be more or less, depending on screen size */
    }
  }
  
  /* The Close Button */
  .close {
    /* Position it in the top right corner outside of the modal */
    
    padding-left: 93%;
    top: 0;
    color: #DAA520;
    font-size: 35px;
    font-weight: bold;
  
    &:hover, &:focus {
      color: white;
      cursor: pointer;
    }
  }
  
  /* Close button on hover */
  .close:hover,
  .close:focus {
    color: white;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
  }
  
  @keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
  }
  
  .login{
    width: 75%;
    margin: auto;
    padding-top: 3em;
    padding-bottom: 3em;
    &--header{
      &__text{
        color: #DAA520;
        text-align: center;
        text-decoration: underline;
      }
    }
    &--label{
      text-align: center;
      &__input{
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 10px;
        background-color: transparent;
        border: 1px solid #DAA520;
        color: white;
        padding-left: 15px;
        &:focus{
          outline: none;
          border: 1px solid white;
        }
      }
    }
    &--btn{
      width: 70%;
      margin: auto;
      margin-top: 20px; 
      &__text{
      color: black;
      background-color: #DAA520;
      text-align: center;
      width: 100%;
      padding-top: 5px;
      padding-bottom: 5px;
  
      border: none;
      }
    }
    &--pswrd{
      text-align: center;
      padding-bottom: 20px;
      &__text{
        & a{
          color: #DAA520;
          text-decoration: none;

          &:hover{
            text-decoration: underline;
          }
        }
        text-align: center;
      }
    }
  }
  
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #DAA520;
    opacity: 1; /* Firefox */
    padding-left: 5px;
  }